<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ name }} Depiction</title>

    <script src="https://cdn.tailwindcss.com"></script>

    <style type="text/tailwindcss">
        @import url("https://api.fonts.coollabs.io/css2?family=Open+Sans:wght@300;400;500;700&display=swap");

        h1 {
            @apply text-2xl;
        }
        h2 {
            @apply text-xl;
        }
        h3 {
            @apply text-lg;
        }
        a {
            @apply text-blue-600 underline;
        }

        @layer base {
            h1,
            h2,
            h3,
            h4 {
                @apply font-bold;
            }
        }

        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        :root {
            font-family: "Open Sans", sans-serif;
        }
    </style>
</head>
<body class="bg-white dark:bg-gray-900 text-black dark:text-white">
    <div class="mt-[30px]"></div>

    <div class="text-center items-center mr-[20px] ml-[20px] w-8/10">
        <!--<img src="data:image/png;base64,{{ image }}" alt="{{ name }} logo" class="rounded-xl m-auto" width="128px">-->
        <h1>{{ name }}</h1>
        <div class="mt-[5px]"></div>
        <p>{{ name }} resigned with Linus Henze's CoreTrust bypass so it doesn't expire, and will persist in stock.</p>
        <br>
    </div>

    <div class="mr-[20px] ml-[20px] mt-[10px] w-8/10 h-[175px] flex flex-col flex-nowrap bg-gray-100 dark:bg-gray-800 rounded-xl text-center items-center justify-center">
        <img src="https://img.icons8.com/material-rounded/48/FFFFFF/ball-point-pen.png"/>
        <div class="mt-[3px]"></div>
        <h2>Signed with Permasigner</h2>
        <br>
        <div class="flex flex-row flex-wrap">
            <a href="https://github.com/itsnebulalol/permasigner" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 no-underline">GitHub</a>
            <a href="https://dsc.gg/permasigner" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 no-underline">Discord</a>
        </div>
    </div>
</body>
</html>